
<p class="notice"></p>
<p class="alert"></p>

<div class="row text-center">
  <h1 class="p-2 col text-white display-4 font-w-100">Join a Hike and start your Adventure.</h1>
</div>

<div class="row text-white justify-content-around index-hike-card-container rounded">

	{{> hikes/_hike-card }}

	<!-- <a class="btn btn-sign_in-facebook text-white plan-hike-btn" href="/users/17/hikes/new">+Hike</a> -->
</div>
