<div class="profile_container col col-lg-6 offset-lg-3 text-center bg-white profile_container rounded-top border border-white">
	
	<%= render 'user-controls', user: @user %>

	<%= render 'form', user: @user %>

</div>		



