<%= title "Planned Hikes" %>
<div class="row text-center">
	<h1 class="p-2 col text-white display-4 font-w-100">Join a Hike and start your Adventure.</h1>
</div>

<div class="row text-white justify-content-around index-hike-card-container rounded">
	
	<%= render partial: 'hike-card', collection: @hikes, as: :hike %>

	<%= link_to "+Hike", new_user_hike_path(current_user), :class => "btn btn-sign_in-facebook text-white plan-hike-btn" %>
</div>