<div class="row">
	<div class="col">
		<h1 class="w-50 text-white text-center font-w-100 
		plan-hike-header p-2 rounded-top border-bottom-0 border border-white">Plan a Hike</h1>
	</div>
</div>

<div class="row">
	<div class="col">
		<%= render partial: 'form', locals: { hike: @hike } %>
	</div>
</div>