
<div class="row home_container mt-3">
	<div class="col">
		<div class="display-4 text-white text-center font-w-100 intro-msg">Choose your path</div>
	</div>
</div>

<div class="row text-center">
	<div class="col-sm-12 col-lg">
		<%= button_to "Plan Hike", new_user_hike_path(current_user), :method => :get, :class => "btn btn-plan-hike text-white border border-plan grow" %>
	</div>
	<div class="col-sm-12 col-lg">
		<%= button_to "Find Hike", hikes_path, :method => :get, :id => "findHikeBtn", :class => "btn btn-find-hike text-white border border-plan grow" %>
	</div>
</div>
