<% if !user_signed_in? %>
	<h1>Hike with friends old and new</h1>
	<h2>Plan an Adventure Today!</h2>
	<%= link_to "Get Started",  new_user_registration_path %>
<% else %>
	<%= button_to "Plan Hike", new_hike_path, :method => :get %>
	<%= button_to "Find Hike", hikes_path, :method => :get %>
<% end %>