@import "bootstrap";
@import "hiking_trails";

// =============================================
//	BOOTSTRAP OVERRIDES & CUSTOM STYLES
// =============================================



// =============================================
//	BASE STYLES
// =============================================

// style for views :landing, :login, :singup
body.landing-login-signup {
	background: url('bg-app.jpg') no-repeat;
}

// style for views once User is authenticated
body.application-layout {
	background: url('logged-bg.jpg') no-repeat;
}

body.landing-login-signup,
body.application-layout {
	background-size: cover;
}

html,body {
 height: 100%;
 overflow-y: scroll;
}

select #hike_hiking_trail_attributes_area { width: 100%;}

select #hike_hiking_trail_attributes_feature_id { width: 100%; }

.dark-mtn-blue { background: rgba(#516177, .75); }

// =============================================
//	TEXT STYLES
// =============================================

.logo-text { font-size: 1.5rem;  }

.text-shadow { 
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 8px rgba(0,0,0,0.3),
             0px 18px 8px rgba(0,0,0,0.3);
         }

.lead-h2 { font-size: 1.9rem }

.logo-text:hover { background-color: rgba(255,255,255, .2) }

.logo-text:hover { background-color: rgba(255,255,255, .2) }

.display-4-md { font-size: 3rem; }

.color-burnt-orange { color: #e29c14; }

.color-grey-red { color: #655f5e; }

.color-slight-pink { color: #dcb3e8; }

.bg-slight-pink { background: #dcb3e8; }

.bg-burnt-orange { background: #e29c14; }

.bg-grey-red { background: #655f5e; }

.bg-white { background: white; }


// =============================================
//	BUTTONS
// =============================================

.btn.logo-text::hover { color: black; }

.btn-color-sign_up,
.btn-color-login_in {
	color: white;
	transition: background-color 0.15s ease-in-out,
				border-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out,
				-webkit-box-shadow 0.15s ease-in-out;
}

.btn-color-sign_up {
	background-color: #57bfca;
	border-color: #57bfca;
}
.btn-color-login {
	background-color: #ff6a00;
	border-color: #ff6a00;
}

.btn-color-sign_up:hover { background-color: rgba(87,191,202, .8); }

.btn-color-login:hover { background-color: rgba(255,106,0, .8); } 

.btn-login-form { 
		background-color: rgba(28,193,140, 1);
		border:2px solid rgb(28,193,140);
	}

.btn-login-form:hover {background-color: rgba(28,193,140, .8)}

.btn-sign_in-facebook { background-color: rgba(3, 169, 244, 1) }

.btn-sign_out { background-color: rgba(229,9,20,1) }

.btn-plan-hike,
.btn-find-hike {
	background: #556270;
	background-size: cover;
	font-size: 1.75rem;
    width: 100%;
    height: 200px;
    margin-top: 1rem;
    position: relative;
    font-weight: 100;
}

.border-plan { border-color: #ff6b6b; }

.plan-hike-btn {
	position: absolute;
	left: 8px;
    top: -16px;
}

.index-hike-card-container {
	background: linear-gradient(rgba(85,98,112,.5),rgba(255,107,107,.5)),url('index-bg') no-repeat center center;
	position: relative;
}

.index-hike-card:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.btn-plan-hike {
	background: linear-gradient(rgba(85,98,112,.5),rgba(255,107,107,.5)),url('btn-plan-hike') no-repeat center center;
}

.btn-find-hike {
	background: linear-gradient(rgba(85,98,112,.5),rgba(255,107,107,.5)),url('btn-find-hike') no-repeat center center;
	background-size: cover;
}

// =============================================
//	COMPONENTS 
// =============================================

.input-field {
	max-width: 380px;
	width: 80%;
}

.sign_in-logo { 
	border: 1px solid white;
	display: block;
	font-size: 2rem;
	font-weight: 200
}

.sign_in-form { background-color: rgba(241,187,88, .4) }

.intro-msg { 
	font-size: 2.2rem;
	margin-top: 2rem;
 }

.signed-in-as { display: none; }

.plan-hike-header {
	background: #516177;
	margin: 0 auto;
}

// =============================================
//	CARDS
// =============================================

.index-hike-card-container {
	background-size: cover;
}

.hike-card {
	position: relative;

	a:hover,
	a:visited {
		 color: #e29c14;
	}

	.card-img {
		height: 200px;
		
	}

	.card-btn {
		position: absolute;
		top: 165px;
	}
}

.show-card {
	background: linear-gradient(rgba(85,98,112,.5),rgba(255,107,107,.5)),url('index-bg') no-repeat center center;
	background-size: cover;

	a {
		&:hover,
		&:visited {
			color: #e29c14;
		}
	}

	li {
		background: rgba(0,0,0,.5);
	}
}

.notes-header {
	background: white;
    padding: 5px 5px 0 5px;
    position: relative;
    display: inline-block;    
}

p.notes-p {
    	border: 1px solid lightgray;
    	padding: 20px 10px 10px;
    	margin-top: -20px;
    }

.profile_container {
	position: relative;
	padding-top: 4rem;
	margin-top: 3.5rem;

	.edit-profile-btn {
		position: absolute;
		top: 4px;
    	right: 4px;
	}

	.profile_pic {
		position: absolute;
		left: 0;
		right: 0;
		top: -55px;
		margin: auto;
		width: 110px;
		height: 110px;
	}
}

.joined-btn {
	padding: 0.395rem;
}

// =============================================
//	CUSTOM CLASS / HELPERS
// =============================================

.w-100 { width: 100%;}
.w-75 { width: 75%; }
.w-50 { width: 50%; }

.font-w-100 { font-weight: 100; }

.font-w-300 { font-weight: 300; }

.no-style { list-style: none; }

.slow-grow { transition: all .4s ease-in-out;  }
.slow-grow:hover { transform: scale(1.02); }
.grow {
 transition: all .2s ease-in-out; 
}

.bg-black { background: black; }

.grow:hover { transform: scale(1.02); }

.plus-btn {
	font-size: 4rem;
	padding: 20px;
}

tbody.trail-table tr:nth-child(2n-1) {
	background: #ececec;
}

table.table {
	th {
		font-weight: 100;
	}
	a {
		color: #e29c14;
		&:hover,
		&:visited {
			color: #e29c14;
		}
	}
}

// =============================================
//	ERRORS | FLASH MESSAGES
// =============================================

.notice,
.alert { 
    color: #1dc18c;
    display: inline-block;
    padding: 5px 10px;
}

.field_with_errors  {
	background: #e52416;

	.input {
		background: #e52416;
	}
}

#error_explanation {
    color: #ef9090;
    text-align: center;
    background: rgba(#455369, .8);
    padding: 10px;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    ul {
    	list-style: none;
    	padding-left: 0;
    }
 }

.select_container {
	display: block;
	background: #ececec;
	padding-left: 5px;
}


// =============================================
//	MEDIA QUERIES
// =============================================

@include media-breakpoint-up(xs) { 

	body { background-position-x: 19%; }

	.about-text-sign_in,
	.about-text-login {
		font-size: 1.2rem; 
	}

	.hike-card { margin: 2rem;}
	
 }

// min-width: 576px
@include media-breakpoint-up(sm) { 

	body { background-position-x: center; }
	.signed-in-as { display: initial; }

	.hike-card { margin: 1rem;}


	.plan-hike-btn {
		position: absolute;
		left: -25px;
		top: -28px;
	}

	.home_container {
		margin-top: 4rem;
	}
 }

 // @media (min-width: 768px)
@include media-breakpoint-up(md) { 
	.about-text-sign_in { font-size: 1.5rem; }

	.intro-msg { font-size: 3.5rem; }

	.btn-plan-hike,
	.btn-find-hike {
		width: 75%;
	}

	select#hike_hiking_trail_attributes_area { width: 75%;}

	select#hike_hiking_trail_attributes_feature_id { width: 75%; }


 }

// @media (min-width: 992px)
@include media-breakpoint-up(lg) { 
	.home_container {
		margin-top: 8rem;
	}
 }

// @media (min-width: 1200px)
@include media-breakpoint-up(xl) {  }



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */