@import "bootstrap";
@import "hiking_trails";

// =============================================
//	BOOTSTRAP OVERRIDES & CUSTOM STYLES
// =============================================



// =============================================
//	BASE STYLES
// =============================================

body {
	background: url('bg-app.jpg') no-repeat;
	background-size: cover;
}

html,body {
 height: 100%;
 overflow-y: scroll;
}



// =============================================
//	FONTS
// =============================================

.logo-text { font-size: 1.5rem;  }

.text-shadow { 
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 8px rgba(0,0,0,0.3),
             0px 18px 8px rgba(0,0,0,0.3);
         }

.lead-h2 { font-size: 1.9rem }

.logo-text:hover { background-color: rgba(255,255,255, .2) }

.logo-text:hover { background-color: rgba(255,255,255, .2) }

.display-4-md { font-size: 3rem; }


// =============================================
//	BUTTONS
// =============================================

.btn.logo-text::hover { color: black; }

.btn-color-sign_up,
.btn-color-login_in {
	color: white;
	transition: background-color 0.15s ease-in-out,
				border-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out,
				-webkit-box-shadow 0.15s ease-in-out;
}

.btn-color-sign_up {
	background-color: #57bfca;
	border-color: #57bfca;
}
.btn-color-login {
	background-color: #ff6a00;
	border-color: #ff6a00;
}

.btn-color-sign_up:hover { background-color: rgba(87,191,202, .8); }

.btn-color-login:hover { background-color: rgba(255,106,0, .8); } 

.btn-login-form { background-color: rgba(28,193,140, 1) }

.btn-sign_in-facebook { background-color: rgba(3, 169, 244, 1) }


.sign_in-form { background-color: rgba(241,187,88, .4) }




// =============================================
//	COMPONENTS 
// =============================================

.input-field {
	max-width: 380px;
	width: 80%;
}

.sign_in-logo { 
	border: 1px solid white;
	display: block;
	font-size: 2rem;
	font-weight: 200
}




// =============================================
//	CUSTOM CLASS / HELPERS
// =============================================

.w-100 { width: 100% }
.w-75 { width: 75% }
.w-50 { width: 50% }




// =============================================
//	MEDIA QUERIES
// =============================================

@include media-breakpoint-up(xs) { 

	body { background-position-x: 19%; }

	.about-text-sign_in,
	.about-text-login {
		font-size: 1.2rem; 
	}

	
 }

@include media-breakpoint-up(sm) { 

	body { background-position-x: center; }

 }

@include media-breakpoint-up(md) { 
	.about-text-sign_in { font-size: 1.5rem; }
 }

@include media-breakpoint-up(lg) {  }

@include media-breakpoint-up(xl) {  }



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */