<%= title "Update #{@hiking_trail.name}" %>

<div class="row">
	<div class="col col-lg-8 offset-lg-2">
		<h1 class="w-50 text-white text-center font-w-100 
		plan-hike-header p-2 rounded-top border-bottom-0 border border-white">Edit <%= "#{@hiking_trail.name}" %></h1>
	</div>
</div>

<div class="row">
	<div class="col col-lg-8 offset-lg-2">
		<%= render partial: 'form', locals: { hiking_trail: @hiking_trail } %>
	</div>
</div> 