<nav class="navbar navbar-dark bg-dark navbar-expand-md">
	<div class="container">
		<h1 class="navbar-brand mb-0 h1"><%= logo_path %></h1>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

	<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
		<%= render 'layouts/navbar-links' %>
		<div class="form-inline">
			<%= render 'layouts/nav-btns' %>
		</div>

	</div>
</nav>
