<ul class="navbar-nav">
	<li class="nav-item active">
		<%= link_to "Home", home_path, :class => "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to "Hikes", hikes_path, :id => "hikesLink", :class => "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to "Trails", hiking_trails_path, :class => "nav-link" %>
	</li>
	<li class="nav-item">
		<%= link_to "Profile", user_path(current_user), :class => "nav-link" if current_user %>
	</li>
</ul>
